<div class="jumbotron jumbotron-fluid margenSuperior">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-group">
            <label> <strong>Buscar:</strong> </label>
            <input class="form-control" [(ngModel)]="buscador" type="text" name="buscador" (keypress)="buscarPelicula()" placeholder="Buscar pelicula...">
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn slow">
  <!-- Card deck -->
  <div class="card-deck" *ngFor="let pelicula of _peliSrv.peliculas">
    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{ pelicula.original_title }}</h4>
        <!--Text-->
        <p class="card-text text-justify">{{ pelicula.overview | slice:0:250 }}...</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn blue-gradient btn-md" [routerLink]="['/pelicula', pelicula.id, 'buscar', buscador]">Leer mas ... </button>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- Card deck -->
</div>

<div *ngIf="!cargando && _peliSrv.peliculas.length === 0" class="alert alert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros</h4>
  <p><i class="fa fa-exclamation fa-2x"></i></p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">Cargando</h4>
  <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
  <p class="mb-0">Espere por favor...</p>
</div>


