<div class="row animate__animated animate__fadeIn animate__faster" *ngIf="pelicula">
    <div class="col-md-6">
        <!-- Imagen -->
        <img [src]="pelicula.poster_path | poster" [alt]="pelicula.title" class="img-thumbnail">
    </div>

    <div class="col-md-6">
        <h3>{{ pelicula.title }}</h3>
        <hr>
        <div class="row ">
            <div class="col-4">
                <star-rating [value]="pelicula.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="15px" readonly="false"></star-rating>
            </div>
            <div class="col-6 text-white">
                <strong>{{ pelicula.vote_average | number:'1.1-2' }}</strong>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-white">
                {{ pelicula.overview }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-outline-light" (click)="onRegresar()"><i class="fas fa-arrow-left"></i> Volver </button>
            </div>
        </div>

    </div>
</div>

<div class="row mt-5" *ngIf="cast.length > 0">
    <div class="col">
        <CastSlideshowComponent [cast]="cast"></CastSlideshowComponent>
    </div>
</div>