<div class="jumbotron jumbotron-fluid margenSuperior">
  <div class="container text-center">
    <h2 class="display-4"> BlockBuster </h2>
    <p class="lead"> Buscador y visualizacion de peliculas. </p>
  </div>
</div>

<div class="container">
  <br>
  <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Peliculas en cartelera"></app-galeria>
  <app-galeria [peliculas]="populares|slice:0:6" titulo="Peliculas populares"></app-galeria>
  <app-galeria [peliculas]="peliskids|slice:0:6" titulo="Peliculas populares para niños"></app-galeria>
</div>
