<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-custom lighten-5">

  <!-- Navbar brand -->
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="assets/img/logo.png" height="38" alt="mdb logo">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"> Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['buscar']" routerLinkActive="active">Buscar</a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline" (ngSubmit)="buscarPelicula(buscarPeli.value)">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar ..." aria-label="Search" #buscarPeli>
        <button class="btn btn-4 btn-md my-2 my-sm-0 ml-3" type="submit">Buscar</button>
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
