<div *ngIf="pelicula" class="margenSuperior animated fadeIn slow">
  <div class="row mb-2">
    <div class="col-sm-10"><h1>{{ pelicula.original_title }}</h1></div>
    <div class="col-sm-2"><button class="btn btn-4 btn-block" [routerLink]="['/'+btnVolver, busqueda]"><i class="fa fa-arrow-left left"></i> Volver </button></div>
  </div> 

  <div class="row">
    <div class="col-sm-5">
      <img class="img-thumbnail img-fluid" [src]="pelicula | peliculaImagen:true" [alt]="pelicula.original_title">
    </div>
    <div class="col-sm-7">
      <h3> <strong>Sinopsis</strong> </h3>
      <hr>
      <p class="text-justify">{{ pelicula.overview }}</p>
      <p *ngIf="pelicula.tagline"><strong>Frase:</strong> {{ pelicula.tagline }}</p>
      <p><strong>Votos: </strong> <span class="badge badge-info"> {{ pelicula.vote_average}} </span></p>
    </div>
  </div>
</div>
