body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(247,28,0,0.7791491596638656) 100%, rgba(0,212,255,1) 100%);
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.block {
    display:block;
}